.paginationBtn {
    width: 80%;
    height: 40px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 0.5rem;
    list-style: none;
    text-decoration: none;
    margin-top: 30px;
}

.paginationBtn a {
    text-decoration: none;
    padding: 5px 13px;
    background: #212245;
    border-radius: 8px;
    color: white !important;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin: 5px;
    transition: 0.4s;
}

.paginationBtn a:hover {
    background: #df2020;
}